<%- include('../partials/header') %>

<% carnivals.forEach(function(t) { %>
    <li>
      <form action="/carnivals/<%= c.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>

  
 <%- include('../partials/footer') %>